<link rel="stylesheet" href="css/style.css" type="text/css" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

{{partial "favicon" .}}

<!-- TODO: Remove hardcode and put images into content pages. -->
<meta property="og:image:height" content="1360">
<meta property="og:image:width" content="907">
<meta property="og:title" content="Alexander Borsuk, MSc, Founding Investor of VibroBox">
<meta property="og:description" content="Hi! I'm an IT Engineer, co-founder of VibroBox (Prescriptive Diagnostics for industrial equipment) and MAPS.ME (offline iOS/Android maps for travelers).">
<meta property="og:url" content="https://alex.bio/">
<meta property="og:image" content="https://alex.bio/images/og-image.jpg">
<meta property="article:author" content="https://www.facebook.com/biodranik">
<meta property="article:publisher" content="https://www.facebook.com/biodranik">
