/*-- Override for this css file must be placed in the active theme
	under a partials folder e.g. (theme/partials/dc-gdlr-advisor-cpt.css)--*/

/*-- DC Advisor --*/
.single-advisor .dc-gdlr-advisor-info-wrapper{
	margin-bottom: 40px;
	max-width: 30%;
	margin-right:  40px;
	float: left;
}

.single-advisor .dc-gdlr-advisor-info-inner {
	padding: 35px 30px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.single-advisor .dc-gdlr-advisor-content-wrapper { overflow: hidden; }

.single-advisor .dc-gdlr-advisor-name {
	font-size: 16px;
	font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.single-advisor .dc-gdlr-advisor-position { margin-bottom: 5px; }

.single-advisor .dc-gdlr-advisor-social { padding-top: 20px; padding-bottom: 2px; }

.single-advisor .dc-gdlr-advisor-info { margin-top: 25px; }

.single-advisor .dc-gdlr-advisor-info .advisor-info { font-size: 14px; margin-bottom: 7px; }

.single-advisor .dc-gdlr-advisor-info .advisor-info i {
	margin-right: 13px;
	width: 14px;
	display: inline-block;
}

.single-advisor .dc-gdlr-advisor-biography-title {
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.single-advisor .dc-gdlr-advisor-content { margin-bottom: 40px; }

.single-advisor .dc-gdlr-advisor-session-title{
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 35px;
}

.single-advisor .dc-gdlr-advisor-session-wrapper { margin: 0px -15px; }

.single-advisor .dc-gdlr-advisor-session-item{
	margin-bottom: 40px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.single-advisor  .advisor-session-item-title{
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
    padding: 18px 30px;
    margin-bottom: 0px;
}

.single-advisor .dc-gdlr-advisor-session-item .dc-gdlr-session-info { padding: 25px 30px; font-size: 14px; }

.single-advisor .dc-gdlr-advisor-session-item .dc-gdlr-session-info i{ margin-right: 20px; }

.single-advisor .dc-gdlr-advisor-session-item .dc-gdlr-session-info .session-info{ margin-bottom: 6px; }

.gldr-advisor-item .gldr-advisor-item-title{
	font-size: 15px;
	text-transform: uppercase;
 	font-weight: 600;
 	letter-spacing: 2px;
 	margin-bottom: 9px; 
 	color: #454545;
 }
 
.gldr-advisor-item .gldr-advisor-item-content { text-align: center; }

.gldr-advisor-item .gldr-advisor-item-position{ font-style: italic; }

.gldr-advisor-item .dc-gdlr-advisor-thumbnail{ margin-bottom: 26px; }

.gldr-advisor-item .dc-gdlr-advisor-thumbnail-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	-webkit-transition: opacity 300ms;
}

.gldr-advisor-item .dc-gdlr-advisor-thumbnail-overlay-icon {
	position: absolute;
	top: 50%;
	left: 0px;
	right: 0px;
	text-align: center;
	font-size: 20px;
	margin-top: -17px;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	-webkit-transition: opacity 300ms;
}

.gldr-advisor-item .dc-gdlr-advisor-thumbnail-overlay-icon a { margin: 0px 9px; }
.gldr-advisor-item .dc-gdlr-advisor-thumbnail:hover .dc-gdlr-advisor-thumbnail-overlay{ filter: alpha(opacity=65); opacity: 0.65; }
.gldr-advisor-item .dc-gdlr-advisor-thumbnail:hover .dc-gdlr-advisor-thumbnail-overlay-icon{ filter: alpha(opacity=100); opacity: 1; }
.dc-gdlr-advisor-type-round .gldr-advisor-item{ margin-bottom: 35px; }
.dc-gdlr-advisor-type-round .dc-gdlr-advisor-thumbnail,
.dc-gdlr-advisor-type-round .dc-gdlr-advisor-thumbnail-overlay{
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; overflow: hidden; }
.dc-gdlr-advisor-type-circle .gldr-advisor-item{ margin-bottom: 45px; }
.dc-gdlr-advisor-type-circle .dc-gdlr-advisor-thumbnail,
.dc-gdlr-advisor-type-circle .dc-gdlr-advisor-thumbnail-overlay{
	border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; overflow: hidden; }
.dc-gdlr-advisor-carousel-wrapper li.gldr-advisor-item:first-child { margin-left: 0px; }

.dc-gdlr-advisor-thumbnail{ position: relative; }
.dc-gdlr-advisor-thumbnail img{ display: block; }
.dc-gdlr-advisor-thumbnail .dc-gdlr-advisor-thumbnail-title { background: #353535; color: #fff; opacity: 0; filter: alpha(opacity=0);
    font-size: 11px; font-weight: normal; padding: 8px 12px; position: absolute;
	top: 80%; white-space: nowrap; z-index: 1;

	transition: opacity 300ms; -moz-transition: opacity 300ms;
	-o-transition: opacity 300ms; -webkit-transition: opacity 300ms; }
.dc-gdlr-advisor-thumbnail .dc-gdlr-advisor-thumbnail-title:before { width: 0px; height: 0px;
	content: ' '; position: absolute; top: -7px; left: 16px;
	border-bottom: 7px solid #353535; border-left: 7px solid transparent; border-right: 7px solid transparent; }
.dc-gdlr-advisor-thumbnail:hover .dc-gdlr-advisor-thumbnail-title{ opacity: 1; filter: alpha(opacity=100); }

.post-type-archive-advisor .dc-gdlr-blog-info{
	display: none;
}
.single-advisor .dc-gdlr-advisor-info-inner, .single-advisor .dc-gdlr-advisor-info-inner a, .single-advisor .dc-gdlr-advisor-info-inner .dc-gdlr-advisor-name{ color: #ffffff; }
.single-advisor .dc-gdlr-advisor-info-inner { background-color: #eb4a30; }
.single-advisor .dc-gdlr-advisor-info-inner { border-bottom-color: #af4230; }
.single-advisor .dc-gdlr-advisor-session-item{ background-color: #f2f2f2; }
.single-advisor .dc-gdlr-advisor-session-item{ border-bottom-color: #dfdfdf; }
.single-advisor .advisor-session-item-title a{ color: #ffffff; }
.single-advisor .advisor-session-item-title{ background-color: #424242; }

.section-container, .dc-gdlr-item-start-content, .dc-gdlr-parallax-wrapper, .dc-gdlr-color-wrapper {
    padding-top: 70px;
}

.dc-gdlr-item {
    margin: 0px 15px 20px;
    min-height: 1px;
}