
#dcfooter {
	background-color: #fff;
	padding: 25px 0px 15px 0px;
	height: 50px;
	font-size: 11px;
	color: #8b8b8b;
}
.dbclogo {

	background-image: url('https://d15nou2pykhzd1.cloudfront.net/img/dc_black.png');
	background-repeat: no-repeat;
	float: right;
	width: 125px;
	height: 26px;
}
.leftfooter {
	float: left;
	padding-left: 15px;
}
.rightfooter {
	float: right;
	padding-right: 10px;
}
#dcfooter a:link {
	color: #8b8b8b;
}
#dcfooter a:hover {
	color: #333;
}
#dcfooter a:visited {
	color: #8b8b8b;
}
@media (max-width: 767px) {
	.dbclogo {
		display: none;
	}
	.rightfooter {
		display: none;
	}
}